{% extends "application.html" %}

{% block content %}
<h1>Inclui Reserva </h1>
<form action="" method="post">
    {% csrf_token %}
    <fieldset>

        <label for="name">Name:</label>
        <input type="text" name="name"></input>

        <label for="qty">N de Pessoas:</label>
        <input type="text" name="qty"></input>

        <label for="description">Detalhes</label>
        <input type="text" name="description" value="{{ reserva_item.description }}"></input>

        <input type="submit" value="Confirmar" /> | <a href="/">Cancelar</a>

    </fieldset>
</form>

{% endblock content %}